* text=auto

*.py text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.qml text eol=lf
*.js text eol=lf
*.vasm text eol=lf
*.ps1 text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf

*.dll binary
*.exe binary
*.lib binary
*.pdb binary
*.png binary
*.ico binary
